<!DOCTYPE html>

<html>

<head>
    <title>404-error</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/imgs/m.jpg">
</head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>Type of error:{{type}}</p>
        </div>
        
        {{>createdBy}}
    </body>

</html>

